/// prism
/*
 Solarized Color Schemes originally by Ethan Schoonover
 http://ethanschoonover.com/solarized

 Ported for PrismJS by Hector Matos
 Website: https://krakendev.io
 Twitter Handle: https://twitter.com/allonsykraken)
*/

/*
SOLARIZED HEX
--------- -------
base03    #002b36
base02    #073642
base01    #586e75
base00    #657b83
base0     #839496
base1     #93a1a1
base2     #eee8d5
base3     #fdf6e3
yellow    #b58900
orange    #cb4b16
red       #dc322f
magenta   #d33682
violet    #6c71c4
blue      #268bd2
cyan      #2aa198
green     #859900
*/

code[class*="language-"],
pre[class*="language-"] {
  color: var(--code-color-1);
  /* base00 */
  font-family: var(--font-code);
  font-size: var(--font-size);
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;

  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  background: var(--green);
  /* base02 */
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  background: var(--green);
  /* base02 */
}

/* Code blocks */
pre[class*="language-"] {
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em;
}

// :not(pre) > code[class*="language-"],
// pre[class*="language-"] {
//   background-color: #fdf6e3;
// }

/* Inline code */
:not(pre)>code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--code-color-5);
  /* base1 */
}

.token.punctuation {
  color: var(--code-color-14);
  /* base01 */
}

.token.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: var(--code-color-6);
  /* blue */
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.url,
.token.inserted {
  color: var(--code-color-3);
  /* cyan */
}

.token.entity {
  color: var(--code-color-4);
  /* base00 */
  background: #eee8d5;
  /* base2 */
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: var(--code-color-2);
  /* green */
}

.token.function,
.token.class-name {
  color: var(--code-color-10);
  /* yellow */
}

.token.regex,
.token.important,
.token.variable {
  color: var(--code-color-13);
  /* orange */
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.code-bg-highliter {
  background-color: var(--code-bg);
  box-shadow: var(--card-shadow);
  padding: 2rem;

  position: static;
  overflow-x: auto;
  margin-bottom: 3rem;
  line-height: var(--line-height-1);
  scrollbar-width: none;
 

              &::-webkit-scrollbar {
                display: none;
              }
}

.code-tab {
  //position: relative;
  background: var(--code-bg);
  padding: 0.5em 1.3em 0.5em 1.3em;
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  font-weight: 500;
  font-size: 0.9em;
  color: var(--text-color);
  box-shadow: var(--nav-shadow);
  z-index: -1;
  border: none;
  outline: none;

  &::selection {
    border: none;
    outline: none;
  }
}

:root::selection {
  background: #09c372;
}